#title{
  text-align: center;
}

.gridPixel{
  border: 1px solid black;
  display: inline-block;
}

.palette{
/*  border: 1px solid black;*/
  display: inline-block;
  height: 30px;
  width: 30px;
}
#grid{
  display: inline-block;
  position: fixed;
}

#colorGrid{
  display: inline-block;
  text-align: center;
}

#clear{
  display: inline-block;
}

#erase{
  display: inline-block;
}

#colorBox{
  height: 30px;
  width: 100%;

}