.gridPixel{
  border: 1px solid black;
  display: inline-block;
}

.palette{
  border: 1px solid black;
  display: inline-block;
  height: 24px;
  width: 24px;
}
#grid{
  display: inline-block;
  position: fixed;
}

#colorGrid{
  display: inline-block;
}